Repository erigones/esdc-ce, pull requests merged in 2019-05, with the labels that each got.

#435 Added VM status refresh button in VM details page
  api/vm/status/tasks.py
  api/vm/status/views.py
  api/vm/status/vm_status.py
  doc/changelog.rst
  gui/static/gui/css/layout.css
  gui/static/gui/css/typography.css
  gui/static/gui/js/gsio.js
  gui/static/gui/js/vm/vm-details.js
  gui/static/gui/scss/layout.scss
  gui/static/gui/scss/typography.scss
  gui/templates/gui/vm/details.html
Labels: API, GUI, enhancement

#437 upgrade mgmt VMs to v4.0
  ans/overlays/esdc-overlay.yml
  ans/upgrade/mgmt/v4.0/files/04-mtu-set.sh
  ans/upgrade/mgmt/v4.0/main.yml
  ans/upgrade/mon/v4.0/files/04-mtu-set.sh
  ans/upgrade/mon/v4.0/main.yml
  core/version.py
  doc/changelog.rst
Labels: Service VMs

#438 Removed freeze/unfreeze buttons from GUI because they were too confusing
  doc/changelog.rst
  gui/templates/gui/vm/details.html
  gui/templates/gui/vm/list_control.html
Labels: GUI

#441 Allow overprovisioning of node memory
  api/node/define/serializers.py
  doc/changelog.rst
  gui/node/forms.py
Labels: API, GUI, enhancement
